In [15]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [16]:
# https://pandas-datareader.readthedocs.io/en/latest/remote_data.html
google = web.DataReader('GOOG', data_source = 'google', start = '3/14/2009', end = '4/14/2016')
google = google.drop('Volume', axis = 1 )
google.head()

              Open    High     Low   Close
Date
2016-11-29  771.53  778.50  768.24  770.84
2016-11-30  770.07  772.99  754.83  758.04
2016-12-01  757.44  759.85  737.02  747.92
2016-12-02  744.59  754.00  743.10  750.50
2016-12-05  757.71  763.90  752.90  762.52